/* Theme Colors */
:root {
  --color-primary: #19A7CE;
  --color-secondary: #146C94;
  --color-tertiary: #AFD3E2;
  --color-bg: #F6F1F1;
}

/* General Styles -All */
* {
  box-sizing: border-box;
}

/* General Styles - Body */
body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #444;
}

header {
  background-color: #F6F1F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
   z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}

nav a:hover {
  background-color: #f5f5f5;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/daniel-halseth-uafTsSj9Nb8-unsplash.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

form input,
form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

form button {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #3e8e41;
}

.logo img {
  width: 10%;
  height: 10%;
}

.create-account {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-account-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.create-account-btn:hover {
  background-color: #3e8e41;
}

.guide-section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F6F1F1;
  padding: 50px;
}

.guide-section-one-image {
  flex: 0 0 200px;
  margin-right: 50px;
}

.guide-section-one-image img {
  width: 100%;
  height: auto;
}

.guide-section-one-content {
  flex: 1;
}

.guide-section-one-content h2 {
  font-size: 2rem;
  color: #19A7CE;
  margin-bottom: 20px;
}

.guide-section-one-content p {
  font-size: 1.2rem;
  color: #146C94;
}
.guide-section-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #146C94;
  padding: 50px;
}

.guide-section-two-image {
  flex: 0 0 200px;
  margin-right: 50px
}

.guide-section-two-image img {
  width: 100%;
  height: auto;
}

.guide-section-two-content {
  flex: 1;
}

.guide-section-two-content h2 {
  font-size: 2rem;
  color: #AFD3E2;
  margin-bottom: 20px;
}

.guide-section-two-content p {
  font-size: 1.2rem;
  color: #F6F1F1;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
  }


  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  form input,
  form button {
    padding: 8px;
    margin: 3px;
  }
}

/* Footer styles */
footer {
  background-color: #146C94;
  color: #F6F1F1;
  padding: 20px;
  text-align: center;
}

/* Sidebar styles */
.sidebar {
  flex-basis: 25%;
  background-color: var(--color-secondary);
  color: #fff;
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  width: 200px;
  background-color: #F6F1F1;
  padding: 20px;
  z-index: 0;
}

/* Main content styles */
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  max-width: 800px;
}

/* Record your messages section */
.record-messages {
  flex-basis: 75%;
  background-color: var(--color-tertiary);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.record-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.record-buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

.record-buttons button:hover {
  background-color: #146C94;
}

.guidance {
  margin-left: 20px;
}

.record-guidance {
  flex-grow: 1;

}

/* Recent uploads section */
.recent-uploads {
  margin-bottom: 100px;
}
